@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

body {
    background: #000000;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,
#work,
#work .fp-slide,
#work .fp-tableCell,
#about,
#about .fp-slide,
#about .fp-tableCell,
#contact,
#contact .fp-slide,
#contact .fp-tableCell,
#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,
#Professional,
#Professional .fp-slide,
#Professional .fp-tableCell,
#Education,
#Education .fp-slide,
#Education .fp-tableCell,
footer,
footer .fp-slide,
footer .fp-tableCell {
    height: auto !important;
}

/* end all section */

/* start all heading */
h1, h2, h3, h4, h5 {
    color: #000000;
    font-weight: bold;
}

/* end all heading */

/* start all section */
#work, #about, #portfolio, #contact {
    padding-top: 100px;
    padding-bottom: 120px;
}

/* end all section */

/* start simpletextrotator */
.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
}

.rotating.flip {
    position: relative;
}

.rotating .front, .rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
    z-index: 1;
}

.rotating .back {
    display: block;
    opacity: 0;
}

.rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;

    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
    -o-transform: rotateX(180deg) translate3d(0, 0, 0);
    transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
    -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

/* end simpletextrotator */

/* start home */
#home {
    background: url('../images/20200627_150649.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 140px;
    text-align: center;
}

#home h1 {
    display: inline-block;
    letter-spacing: 6px;
    padding: 15px 15px;
    margin: 30px 0;
}

#home h2 {
    padding-bottom: 10px;
}

#home .btn {
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #D43F52;
    border-color: transparent;
}

#home p {
    color: #1a1a1a;
}

/* end home */

/* start work */
#work {
    background: #1a1a1a;
}

#work h2, h3 {
    text-align: center;
    color: white;
}


#work .media {
    margin-top: 30px;
}

#work .media .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    font-size: 24px;
    margin-right: 24px;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in;
}

#work .media .fa:hover {
    background: #ffffff;
    cursor: pointer;
}

#work .media .media-heading {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

/* end work */

/* start about */
#about h2 {
    color: white;
}

#about h4 {
    padding: 15px 0;
    color: #D43F52;
}

#about .progress {
    border-radius: 4px;
    background: #ffffff;
    height: 4px;
}

#about .progress .progress-bar-danger {
    background: #D43F52;
}

#about .text-top {
    padding-top: 50px;
}

#about span {
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
}

#about small {
    font-weight: bold;
    float: right;
}

/* end about */

/* start portfolio */
#portfolio {
    background: #1a1a1a;
    text-align: center;
}

#portfolio h2 {
    padding-bottom: 30px;
    color: white;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #f1dbde;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 75%;
    height: 75%;
    position: absolute;
    margin-left: 60px;
    margin-top: 30px;
    padding-top: 30px;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
}

/* end portfolio */

/* start contact */

#Education{
    background: #1a1a1a;
    padding: 15px;
}

#Education h2{
    color: white;
}

#contact address {
    padding-bottom: 18px;
}

#contact .contact-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffffff;
}

#contact .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
}

#contact .form-control {
    background: transparent;
    border: 2px solid #999;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    margin-bottom: 20px;
}

#contact input {
    height: 50px;
}

#contact input[type="submit"] {
    background: #D43F52;
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
    background: #ffffff;
    color: #D43F52;
}

/* end contact */

/* start footer */
footer {
    border-top: 1px solid #090909;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer hr {
    width: 100px;
}

/* end footer */

/* start social icon */
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border-radius: 50%;
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 10px;
}

.social-icon li a:hover {
    color: #D43F52;
}


.main-timeline:before {
    content: "";
    width: 5px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    background: #242922;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    position: relative
}

.main-timeline .timeline:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #ec496e;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

.main-timeline .timeline-icon {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #ec496e;
    padding: 13px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%)
}

.main-timeline .timeline-icon i {
    display: block;
    border-radius: 50%;
    background: #ec496e;
    font-size: 64px;
    color: #fff;
    line-height: 100px;
    z-index: 1;
    position: relative
}

.main-timeline .timeline-icon:after, .main-timeline .timeline-icon:before {
    content: "";
    width: 100px;
    height: 4px;
    background: #ec496e;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%)
}

.main-timeline .timeline-icon:after {
    width: 70px;
    height: 50px;
    background: #000000;
    top: 89px;
    right: -30px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 0 50px;
    margin: 52px 0 0;
    float: right;
    position: relative
}

.main-timeline .timeline-content:before {
    content: "";
    width: 70%;
    height: 100%;
    border: 3px solid #ec496e;
    border-top: none;
    border-right: none;
    position: absolute;
    bottom: -13px;
    left: 35px
}

.main-timeline .timeline-content:after {
    content: "";
    width: 37px;
    height: 3px;
    background: #ec496e;
    position: absolute;
    top: 13px;
    left: 0
}

.main-timeline .title {
    font-size: 20px;
    font-weight: 600;
    color: #ec496e;
    text-transform: uppercase;
    margin: 0 0 5px
}

.main-timeline .description {
    display: inline-block;
    font-size: 16px;
    color: #404040;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 30%
}

.main-timeline .timeline:nth-child(even) .timeline-icon:before {
    right: auto;
    left: -100px
}

.main-timeline .timeline:nth-child(even) .timeline-icon:after {
    right: auto;
    left: -30px
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: left
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: auto;
    right: 35px;
    transform: rotateY(180deg)
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    left: auto;
    right: 0
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after, .main-timeline .timeline:nth-child(2n) .timeline-icon i, .main-timeline .timeline:nth-child(2n) .timeline-icon:before, .main-timeline .timeline:nth-child(2n):before {
    background: #f9850f
}

.main-timeline .timeline:nth-child(2n) .timeline-icon {
    border-color: #f9850f
}

.main-timeline .timeline:nth-child(2n) .title {
    color: #f9850f
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
    border-left-color: #f9850f;
    border-bottom-color: #f9850f
}

.main-timeline .timeline:nth-child(3n) .timeline-content:after, .main-timeline .timeline:nth-child(3n) .timeline-icon i, .main-timeline .timeline:nth-child(3n) .timeline-icon:before, .main-timeline .timeline:nth-child(3n):before {
    background: #8fb800
}

.main-timeline .timeline:nth-child(3n) .timeline-icon {
    border-color: #8fb800
}

.main-timeline .timeline:nth-child(3n) .title {
    color: #8fb800
}

.main-timeline .timeline:nth-child(3n) .timeline-content:before {
    border-left-color: #8fb800;
    border-bottom-color: #8fb800
}

.main-timeline .timeline:nth-child(4n) .timeline-content:after, .main-timeline .timeline:nth-child(4n) .timeline-icon i, .main-timeline .timeline:nth-child(4n) .timeline-icon:before, .main-timeline .timeline:nth-child(4n):before {
    background: #2fcea5
}

.main-timeline .timeline:nth-child(4n) .timeline-icon {
    border-color: #2fcea5
}

.main-timeline .timeline:nth-child(4n) .title {
    color: #2fcea5
}

.main-timeline .timeline:nth-child(4n) .timeline-content:before {
    border-left-color: #2fcea5;
    border-bottom-color: #2fcea5
}

#Professional{
    padding: 10px;
    min-height: 700px;
}
#Professional h2 {
    color: #ffffff;
}

#Education .col{
    position: relative;
    top:50%;
    left: 10%;
}

#Education .container .card {
    position: relative;
    margin: 5px 10px 5px 5px;
    display: inline-grid;
}
#Education .container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}
#Education .container .card:nth-child(1) .icon {
    background: #ffffff;
}
#Education .container .card:nth-child(2) .icon {
    background: #ffffff;
}
#Education .container .card:nth-child(3) .icon {
    background: #415cba;
}

#Education .container .card .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}
#Education .container .card .face .content .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}
#Education .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
#Education .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
#Education .container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0px);
}
#Education .container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}
#Education .container .card:hover .face.face1 .content {
    opacity: 1;
}
#Education .container .card .face.face1 .content i {
    max-width: 100px;
}
#Education .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
#Education .container .card:hover .face.face2 {
    transform: translateY(0);
}
#Education .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}
#Education .container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}
#Education .container a {
    text-decoration: none;
    color: #414141;
    transition: 0.5s;
}
#Education .card:nth-child(1) h3 a:hover{
    color: #e07768;
}
#Education .card:nth-child(2) h3 a:hover{
    color: #6eadd4;
}
#Education .card:nth-child(3) h3 a:hover{
    color: #4aada9;
}

/* end social icon */
@media only screen and (max-width: 600px) {
    #home {
        background: url('../images/20200627_150649.jpg');
        background-size: cover;
        background-position: center;
        background-position-x: -300px;
        text-align: center;
    }

    #home .btn {
        margin-right: 25%;
    }

    #about h2 {
        margin-top: -50px;
    }

    .proj-img {
        height: 90%;
        width: 90%;
    }

    #portfolio .portfolio-thumb .portfolio-overlay {
        width: 70%;
        height: 70%;
        margin-left: 40px;
    }

    .main-timeline:before {
        left: 80px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline:before {
        top: 0;
        left: 83px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline-icon {
        width: 60px;
        height: 60px;
        line-height: 40px;
        padding: 5px;
        top: 0;
        left: 0
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        left: 0;
        right: auto
    }

    .main-timeline .timeline-icon:before, .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        width: 25px;
        left: auto;
        right: -25px
    }

    .main-timeline .timeline-icon:after, .main-timeline .timeline:nth-child(even) .timeline-icon:after {
        width: 25px;
        height: 30px;
        top: 44px;
        left: auto;
        right: -5px
    }

    .main-timeline .timeline-icon i {
        font-size: 30px;
        line-height: 45px
    }

    .main-timeline .timeline-content, .main-timeline .timeline:nth-child(even) .timeline-content {
        width: 100%;
        margin-top: -15px;
        padding-left: 130px;
        padding-right: 5px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content {
        float: right
    }

    .main-timeline .timeline-content:before, .main-timeline .timeline:nth-child(even) .timeline-content:before {
        width: 50%;
        left: 120px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        right: auto;
        transform: rotateY(0)
    }

    .main-timeline .timeline-content:after, .main-timeline .timeline:nth-child(even) .timeline-content:after {
        left: 85px
    }

    .main-timeline .timeline {
        margin-bottom: 50px;
    }

    .main-timeline .timeline-icon i {
        width: 40px;
        height: 40px;
        display: block;
        color: #000000;
        z-index: 1;
        position: absolute;
        top: 12%;
        left: 12%;
    }

    #Professional{
        min-height: 900px;
    }

    #Education {
        min-height: 1200px;
    }

    #Education .col{
        position: relative;
        top:50%;
        left: 0;
    }

    #Education .container .card {
        margin-bottom: -100px;
    }
}