<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Kush Singh Chibber</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="templatemo">


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- animate -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- fullpage -->
    <link rel="stylesheet" href="css/jquery.fullPage.css">
    <!-- custom -->
    <link rel="stylesheet" href="css/templatemo-style.css">

</head>
<body>

<div id="fullpage">

    <!-- start home -->
    <div id="home" class="section">
        <div class="container">
            <div class="row text-right">
                <div class="col-md-2"></div>
                <div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
                    <h1>Kush Singh Chibber</h1>
                    <h2>Software Engineer</h2>
                    <h2 class="rotate">BIG DATA, WEB APPLICATIONS, ANDROID,AWS/GCE, MACHINE LEARNING</h2>
                    <p class="h4 text-dark">Technology Enthusiast with <b>3 Years</b> of robust industrial experience.<br/>
                        I like to see myself as a 'Jack of all Trades'.<br/>
                        Love to Build Complex and Secure Architectures.<br/>
                        Always in pursuit to get hand-on with new Technology.
                    </p>
                    <p class="h4">
                        <b>'Distributed Systems and Massive Computations'</b> feels like my future path.<br/>Aspire to be a Solutions Architect.
                    </p>

                    <a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">View My Skills</a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <!-- end home -->

    <!-- start work -->
    <div id="work" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounce">
                    <h2>WHAT I DO</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="media">
                        <div class="media-object media-left">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Application Development</h3>
                            <p>Designing multi & cross platform software, with highly interfaced factory and injection setup </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="media">
                        <div class="media-object media-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Big Data</h3>
                            <p>Making isolated architectures for Data Ingestion, Processing & Transformation.   </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="media">
                        <div class="media-object media-left">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Cloud Development</h3>
                            <p>Harness the power of Saas and Paas systems for off-sight development and financial efficiency</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end work -->

    <!-- start about -->
    <div id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
                    <h2>ABOUT KUSH</h2>
                    <h4>SKILL SET</h4>
                    <p>Harness the power of Android on native <a href="https://developer.android.com/studio">SDK</a> and hybrid platform like <a href="https://flutter.dev/?gclid=Cj0KCQjwzbv7BRDIARIsAM-A6-0u-iYWhaQHdaxeW9hCUcjD7uKRK3BHgPrHqTwtcnS7eozUthEuRzoaAi4SEALw_wcB&gclsrc=aw.ds">Flutter</a>™.</p>
                    <p>Backend API using <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>™/<a href="https://www.djangoproject.com/">Django</a>™ and <a href="https://spring.io/projects/spring-boot">SpringBoot</a>™.</p>
                    <p>Data Streaming, Processing & Transforming using <a href="https://aws.amazon.com/emr/features/spark/">Amazon EMR</a>™</p>
                    <p>Cloud File Management with <a href="https://aws.amazon.com/s3/">S3</a>, <a href="https://cloud.google.com/storage">Google Cloud Storage</a> and Hadoop </p>
                    <p>Patterned Storage Solutions with Cassandra, Hive</p>
                    <p>Strong with Object Oriented Programming like Java, Kotlin, C#</p>
                    <p>DevOps with Jenkins, AWS, GitHub Actions CI</p>
                    <p>Docker and Kubernetes</p>
                    <p>Linux Bash scripting and General Networking</p>
                </div>
                <div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
                    <span class="text-top">Mobile Apps <small>95%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                    </div>
                    <span>Backend APIs <small>80%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                    </div>
                    <span>Big Data <small>70%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                    </div>
                    <span>Object Oriented <small>90%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                    </div>
                    <span>Java <small>80%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                    </div>
                    <span>Python <small>80%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                    </div>
                    <span>MySQL <small>75%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>
                    <span>DevOps <small>60%</small></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->

    <!-- start portfolio -->
    <div id="portfolio" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow bounce">Projects</h2>
                </div>
                <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                        <img src="images/Dearo.png" class="img-fluid" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Dearo</h4>
                            <h4>Mobile App</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Web App</h4>
                            <h5>Author: Linda</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Mobile App</h4>
                            <h5>Author: Kate</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>Old Artwork</h4>
                            <h5>Author: Catherine</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img5.jpg" class="img-responsive" alt="portfolio img">
                        <div class="portfolio-overlay">
                            <h4>New Animation</h4>
                            <h5>Author: Kathy</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end portfolio -->

    <!-- start contact -->
    <div id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <address>
                        <p class="contact-title">CONTACT ME</p>
                        <p><i class="fa fa-phone"></i> 089-429-3970</p>
                        <p><i class="fa fa-envelope-o"></i> singh.kush100@gmail.com</p>
                        <p><i class="fa fa-map-marker"></i>Apartment 10,Crostick Court, 64 Meath Street,<div class="col-sm-2"></div> St. Catherine's, D08 CK71, Dublin 8</p>
                    </address>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
                    <form role="form" method="post" action="/contactForm">
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your Name">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your Email">
                        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Your Message"></textarea>
                        <input name="send" type="submit" class="form-control" id="send" value="SEND ME">
                    </form>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>
        </div>
    </div>
    <!-- end contact -->

    <!-- start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
                    <p>Copyright &copy; 2020 Kush Singh Chibber
                    <hr>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- fullpage -->
<script src="js/jquery.fullPage.js"></script>
<!-- smoothScroll -->
<script src="js/smoothscroll.js"></script>
<!-- wow -->
<script src="js/wow.min.js"></script>
<!-- text rotater -->
<script src="js/jquery.simple-text-rotator.js"></script>
<!-- custom -->
<script src="js/custom.js"></script>

</body>
</html>